body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(251, 249, 249);
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgb(21, 192, 230);
}

img {
    width: 120px;
    padding: 10px;
    top: 50px;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(5, 64, 81);
}

#menu.active {
    display: block;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: flex;
    padding: .5rem;
}


#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }

    #menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgb(21, 192, 230);
        height: calc(100vh - 70px);
        z-index: 1000;
    }

    #nav.active #menu {
        display: block;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(219, 5, 5);
    }
}